# ==========================
# Java / Spring Boot
# ==========================
# Compiled class files
*.class

# Maven / Gradle build
target/
build/

# Log files
*.log

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Application properties
*.properties

# IDE Files
# ==========================
# IntelliJ IDEA
.idea/
*.iml
*.iws

# VS Code
.vscode/

# Eclipse / STS
.settings/
.classpath
.project
.sts4-cache

# ==========================
# OS Files
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Angular
# ==========================
/node_modules/
/dist/
/.angular/
/coverage/