# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# Logs
*.log

# OS
.DS_Store
Thumbs.db

#properties files with sensitive data
*.properties --- IGNORE ---
